body{

    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: 883px;
}


img {
top: 25px;
left: 22px;
width: 883px;
height: 374px;
border: 1px solid #707070;
opacity: 1;

}

.aside {
    top: 25px;
    left: 22px;
    width: 883px;
    height: 374px;
    border: 1px solid #707070;
    opacity: 1;
}

.titulo-h1 {
    top: 420px;
    left: 21px;
    width: 884px;
    height: 187px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 89px/79px Montserrat;
    letter-spacing: 0px;
    color: #FFB300;
    opacity: 1;

}

.autor {
    font-family: 'Montserrat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    ;
    font-size: 21px;
    text-align: right;
    width: 883px;
    top: 617px;
    left: 21px;
    width: 884px;
    height: 28px;
    text-align: right;
    font: normal normal bold 21px/34px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.parrafo {
    top: 679px;
    left: 21px;
    width: 883px;
    height: 197px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 21px/34px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.ingredientes {
    top: 1179px;
    left: 96px;
    width: 753px;
    height: 366px;
    text-align: left;
    font: normal normal 600 21px/34px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.mododepreparo{
    top: 1675px;
left: 61px;
width: 844px;
height: 380px;
text-align: left;
font: normal normal 600 21px/34px Montserrat;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

h3 {
    top: 1599px;
    left: 21px;
    width: 315px;
    height: 42px;
    text-align: left;
    font: normal normal 900 34px/42px Montserrat;
    letter-spacing: 0px;
    color: #FFB300;
    opacity: 1;
}

ul {
top: 1179px;
left: 96px;
width: 753px;
height: auto;
text-align: left;
font: normal normal 600 21px/34px Montserrat;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

ol {
    top: 1675px;
    left: 61px;
    width: 844px;
    height: auto;
    text-align: left;
    font: normal normal 600 21px/34px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.linea3{
top: 1565px;
left: 22px;
width: 883px;
height: 0px;
border: 5px solid #999999;
opacity: 1
}
.linea2{
    top: 1083px;
left: 22px;
width: 883px;
height: 0px;
border: 5px solid #999999;
opacity: 1;
}
.linea1{
    top: 931px;
    left: 22px;
    width: 883px;
    height: 0px;
    border: 5px solid #999999;
    opacity: 1; 
}
.linea4{
    top: 2089px;
left: 22px;
width: 883px;
height: 0px;
border: 5px solid #999999;
opacity: 1;
}
.rendimento{
    top: 1024px;
left: 21px;
width: 302px;
height: 25px;
text-align: left;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.preparo{
    top: 965px;
left: 21px;
width: 258px;
height: 25px;
text-align: left;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
span{
    top: 0px;
left: 0px;
width: 166px;
height: 25px;
text-align: left;
font: normal normal 900 21px/25px Montserrat;
letter-spacing: 0px;
color: #000000;
 }
 .video{
    top: 2200px;
left: 22px;
width: 883px;
height: 497px;
border: 1px solid #707070;
opacity: 1;
 }